$primary-color: hsl(228, 45%, 44%);
$main-background-color:hsl(233, 47%, 7%);
$Soft-violet-accent:hsl(277, 64%, 61%);
$main-paragraph-color:hsla(0, 0%, 100%, 0.75);
$stat-headings:hsla(0, 0%, 100%, 0.6);
$card-background:hsl(244, 38%, 16%);